* {
	padding: 0;
	margin: 0;
}

.header { /* class */
	padding: 5px;
	background: #0c77ce;
	margin-bottom: 20px;		
}

.container {
	max-width: 960px;
	overflow: hidden;
	margin: 0 auto;
	padding: 15px;
}


.logo {
	float: left;
	margin-right: 30px; 
}
.name {
	padding-top: 15px;
}

.name h1{	

	font-size: 32px;
	color: rgb(24, 226, 5);
}
.name p {

	font-size: 15px;
	color: rgb(13, 228, 24);
}


.navigation {
	background-color: #fc03be;
	margin-bottom: 20px;
}

.navigation ul {
	display: flex; /* in line */
	flex-direction: column;
	padding: 5px;
}

li {
	list-style: none;
}

.navigation ul li a {
	color: rgb(47, 14, 233);
	transition: 0.3s;
	text-decoration: none;
}

.navigation ul li a:hover {
	border-bottom: 2px solid rgb(88, 25, 236);
}


.links{
	background-color: #fc03a9;
	padding: 5px;
	margin-bottom: 20px; 
}

.table {
	text-align: center;
	margin-bottom: 20px;
}

td, th {
	padding: 5px;
	font-style: italic;
	font-size: 14px;
}

tr:nth-child(odd) {
	background-color: #1403fc;
}

tr:nth-child(even) {
	background-color: rgb(15, 228, 228);
}

.wrap {
	display: flex;
	flex-direction: column;
}

form {
	order: -1;
}	

.footer {
	background-color: #c71432;
	padding: 30px;
}


@media (min-width: 480px) {
	.navigation ul {
		flex-direction: row;
		padding: 15px;
		justify-content: space-between;
	}

	.navigation ul li a {
		font-size: 20px
	}

	form {
		order: 0;
	}
 
	.name h1 {
		font-size: 40px;
	}
	.name p {
		font-size: 24px;
	}
	td, th {
		font-size: 16px;
	}
}

@media (min-width: 768px) {
	.name {
		padding-top: 5px;
	}
	.navigation ul li a {
		font-size: 26px
	}
	.name h1 {
		font-size: 46px;
	}
	.name p {
		font-size: 26px;
	}
	td, th {
		font-size: 20px;
	}
	.links{
		font-size: 22px;
	}
	.form {
		font-size: 22px;
	}
}

@media (min-width: 1024px) {
	.links{
		font-size: 26px;
	}
	.form {
		font-size: 32px;
	}
	.date{ 
		font-size: 20px;
	}
	
	.header h1{
		font-size: 60px;
	}

	input[type="submit"] {
		font-size: 22px;
		border: 1px solid black;
		padding: 5px 25px;	
		border-radius: 7px;
	}
	input[type="checkbox"] {
		display: inline-block;
		width: 20px;
		height: 20px;
	}
	input[name="field-name-1"]{
		border: 2px solid rgb(208, 255, 0);
		font-size: 18px;
	}
	input[name="field-email"]{
		border: 2px solid rgb(83, 9, 180);
		font-size: 18px;
	}
	select{
		font-size: 20px;	
	}
	textarea{
		border: 2px solid rgb(46, 119, 202);
		font-size: 18px;
	}
	footer{
		font-size: 26px;
	}
	td, th {
		font-size: 24px;
	}
}	
@media(min-width: 1050px){
	.links{
		font-size: 18px;
	}
	.form {
		font-size: 20px;
	}
	.date{ 
		font-size: 18px;
	}
	
	.header h1{
		font-size: 40px;
	}
	footer{
		font-size: 16px;
	}
	td, th {
		font-size: 18px;
	}
	.navigation ul li a {
		font-size: 17px
	}
}
